.dropdown-menu {
    margin-top: 0;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-right: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    right: 100%;
    top: 0%;
    margin:0 20px;
    border-width: 0;
}
.dropdown-menu .dropdown .dropdown-menu.left {
    right: 100%;
    left: auto;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: #494d51;
	color: white;
}
.dropdown-menu > li.show > a{
	color: white;
}
.single-item{
    display: flex !important;
    padding-right: 2.8rem !important;
    padding-left:  2.8rem !important;
}
.dropdown-item{
    text-align: center !important;
}
@media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
}